<!-- main.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Дополнительные стили -->
  </head>
  <body>
    <%- include('../partials/header') %>
  </body>
</html>
