<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('../partials/banner') %>
  </body>
</html>
